.container {
    width: 1050px;
    margin: 0 auto;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.head {
    padding: 20px 0;

    &_main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_logo {
        img {
            width: 120px;
        }
    }

    &_list {
        ul {
            list-style-type: none;
            display: flex;
        }

        li {
            transition: all 0.2s linear;
            margin-right: 25px;
        }

        a {
            text-decoration: none;
            color: #33383F;
            font-size: 18px;
            transition: all 0.1s linear;
        }

        a:hover {
            color: #0070A0;
        }

        li:hover {
            transform: scale(1.05);
        }
    }

    &_btn {
        display: flex;
        align-items: center;

        p {
            padding-right: 25px;
            transition: all 0.1s linear;
        }

        a {
            text-decoration: none;
            color: #00709F;
            font-size: 18px;
        }

        p:hover {
            color: #0070A0;
            transform: scale(1.05);
        }
    }
}

.btn {
    padding: 12px 24px;
    border: none;
    background-color: white;
    border: 1.5px solid #0070A0;
    border-radius: 8px;
    font-size: 17px;
}

// .btn:hover {
//     background-color: #0070A0;
//     color: white;
// }

.btn {
    display: inline-block;
    background-image: linear-gradient(to top,  #00b3ff 0%, #0070A0 100%);
    background-size: 100% 0%;
    transition: background-size 0.5s ease;
}
.btn:hover {
    background-size: 100% 100%;
    border: none;
    color: white;
}
  

.home {
    padding: 60px 0;

    &_main {
        display: flex;
        justify-content: space-between;
    }

    &_text {
        &_end {
            display: flex;
            align-items: center;

            .btn {
                margin-right: 30px;
            }

            p {
                font-size: 17px;
                font-weight: 400;
                line-height: 27px;
                color: #0070A0;
                display: flex;
                align-items: center;

                span {
                    padding-right: 5px;
                }
            }
        }

        h1 {
            font-size: 58px;
            font-weight: 400;
            font-family: serif;
            line-height: 63.8px;
            width: 485px;
        }

        p {
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            width: 330px;
        }
    }
}

.bought {
    padding: 60px 0;

    &_head {
        padding-bottom: 60px;

        h2 {
            font-size: 26px;
            font-weight: 400;
            line-height: 37.5px;
            text-align: center;
            color: #1F1F1F;
        }

        img {
            width: 100%;
        }
    }

    &_boxs {
        display: flex;
        justify-content: space-between;
    }

    &_box {
        padding: 15px 30px;

        h2 {
            font-size: 25px;
            font-weight: 400;
            line-height: 31.25px;
            color: #1F1F1F;
        }

        p {
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            width: 270px;
        }
    }

    .box-1 {
        background-color: #FAEA73;
    }

    .box-2 {
        background-color: #CCEFF6;
    }

    .box-3 {
        background-color: #F7CEDC;
    }
}

.take {
    padding: 50px 0;
    margin: 50px 0;
    background-color: #f4f4f4;

    &_main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        font-size: 42px;
        font-weight: 400;
        line-height: 50.4px;
        color: #1F1F1F;
        width: 650px !important;
        font-family: Fraunces;
    }

    &_box {
        border-top: 1px solid #C2CDD8;
        width: 430px;
        margin-bottom: 25px;

        &_head {
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &_one {
                display: flex;
                align-items: center;

                img {
                    margin-right: 20px;
                }

                h3 {
                    font-size: 24px;
                    font-weight: 550;
                    line-height: 25.2px;
                    color: #1F1F1F;
                    font-family: Fraunces;
                }
            }
        }

        &_end {
            padding-left: 52px;

            p {
                width: 340px;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                margin: 0;
                color: #1F1F1F;
            }
        }
    }

    .box2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;

        .take_box_one {
            display: flex;
            align-items: center;

            img {
                margin-right: 20px;
            }

            p {
                font-size: 20px;
                font-weight: 400;
                line-height: 25.2px;
                color: #626A72;
            }
        }
    }
}

.all {
    padding: 50px 0;

    &_main {
        display: flex;
        justify-content: space-between;
    }

    &_box {
        width: 200px;

        h1 {
            font-size: 42px;
            font-weight: 400;
            font-family: Fraunces;
            line-height: 50.4px;
            color: #1F1F1F;
        }

        h2 {
            font-size: 25px;
            font-weight: 400;
            font-family: Fraunces;
            line-height: 31.25px;
            color: #1F1F1F;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            font-family: Inter;
            line-height: 24px;
            color: #1F1F1F;
        }

        &_1 {
            width: 250px;
        }

        &_2 {
            padding-top: 55px;
        }
    }
}

.set {
    padding: 60px 0;
    margin: 60px 0;
    background-color: #0070A0;

    &_main {
        display: flex;
        justify-content: space-between;
    }

    &_text {
        width: 450px;

        h1 {
            font-size: 42px;
            font-weight: 400;
            line-height: 50.4px;
            color: #FFFFFF;
            width: 400px;
            font-family: Fraunces;
        }

        p {
            font-size: 18px;
            font-weight: 400 !important;
            color: #FFFFFF;
            line-height: 27px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            font-size: 16px;
            font-weight: 400;
            line-height: 35px;
            color: #FFFFFF;

            img {
                padding-right: 10px;
            }
        }

        .p {
            padding-left: 30px;
            font-size: 17px;
        }
    }
}

.task {
    padding: 50px 0;

    &_head {
        width: 630px;
        margin-bottom: 60px;

        h1 {
            font-size: 42px;
            font-weight: 400;
            font-family: serif;
            line-height: 50.4px;
            color: #1F1F1F;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            color: #1F1F1F;
        }
    }

    &_boxs {
        display: flex;
        justify-content: space-between;
    }

    &_box {
        width: 210px;

        h2 {
            font-size: 25px;
            font-weight: 400;
            line-height: 31.25px;
            color: #1F1F1F;
            font-family: serif;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #1F1F1F;
        }
    }
}

.smart {
    padding: 40px 0;
    margin: 50px 0;
    background-color: #F7F9FA;

    &_head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 42px;
            font-weight: 500;
            color: #1F1F1F;
            font-family: serif;
        }

        p {
            a {
                text-decoration: none;
                color: #0070A0;
                font-size: 17px;
            }
        }
    }

    &_boxs {
        display: flex;
        // flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 40px;
    }

    &_box {
        width: 330px;
        background-color: white;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        transition: all 0.2s linear;

        img {
            width: 330px;
        }

        &_text {
            padding: 0 30px 15px;

            h3 {
                font-size: 13px;
                font-weight: 400;
                color: #2C90C9;
                background-color: #E6F7FF;
                padding: 5px 10px;
                margin-top: 30px;
                display: inline-block;
                margin-top: 20px;
            }

            h1 {
                font-size: 25px;
                font-weight: 549.9999694824;
                line-height: 34px;
                color: #1F1F1F;
                font-family: serif;
                margin-top: 10px;
            }

            #h1 {
                font-size: 27px;
            }

            p {
                font-size: 15px;
                font-weight: 400;
                line-height: 21px;
                color: #1F1F1F;
            }
        }
    }

    &_box:hover {
        transform: scale(1.02);
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    }
}

.whirl {
    padding: 50px;

    &_main {
        background-color: #E6F7FF;
        padding: 60px;

        h1 {
            font-size: 44px;
            font-weight: 400;
            line-height: 50.4px;
            color: 50.4px;
            font-family: serif;
            margin-top: 0;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            color: #1F1F1F;
            width: 470px;
            padding-bottom: 20px;
        }
    }

    &_end {
        display: flex;
        justify-content: space-between;
        width: 350px;
        margin-top: 20px;

        p {
            color: #626A72;
            font-size: 14px;
            padding-bottom: 0;
            margin: 0;

            img {
                padding-right: 5px;
            }
        }
    }
}

.footer {
    margin: 50px 0 0;
    padding: 50px 0 10px;

    &_main {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #DEE5EB;
        padding-bottom: 50px;
    }

    &_box {
        ul {
            list-style-type: none;

            li {
                font-size: 14px;
                font-weight: 400;
                line-height: 28px;
                color: #626A72;
            }

            .li {
                font-size: 16px;
                font-weight: 400;
                line-height: 40px;
                color: #1F1F1F;
            }
        }

        #button {
            border: none;
            border-bottom: 1px solid #C2CDD8;
            padding-bottom: 5px;
            display: inline-block;
            background-color: white;

            input {
                background-color: white;
                border: none;
                font-size: 14.5px;
                padding: 6px 10px;
                font-weight: 549;
            }

            button {
                background-color: white !important;
                border: none !important;

                img {
                    height: 16px;
                }
            }
        }
    }

    .four_box {
        width: 216.39px;

        h2 {
            font-size: 17px;
            font-weight: 400;
            line-height: 24px;
            width: 190px;
            color: #1F1F1F;
            padding-bottom: 20px;
        }

        #button {
            input {
                width: 170px;
            }
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #1F1F1F;
        }
    }

    .one_box {
        img {
            width: 160px;
        }

        p {
            font-size: 15px;
            font-weight: 400;
            line-height: 22px;
            color: #1F1F1F;

            span {
                color: #0070A0;
                font-size: 14px;
            }
        }
    }

    &_end {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;

        p {
            span {
                color: #0070A0;
            }
        }
    }
}

@media (max-width:1150px) {
    .container {
        width: 950px;
    }

    .bought_head {
        img {
            width: 100%;
        }
    }

    .home_text {
        width: 350px;

        h1 {
            font-size: 48px;
            width: auto;
            line-height: 58px;
        }

        p {
            font-size: 17px;
            line-height: 25px;
        }

        &_end {
            p {
                width: 112px;
            }
        }
    }

    .home_img {
        text-align: end;

        img {
            width: 90%;
        }
    }

    .bought_box {
        width: 220px;

        * {
            width: auto !important;
        }

        h2 {
            font-size: 22px;
        }
    }

    .take_img {
        text-align: end;

        img {
            width: 90%;
        }
    }

    .take_box {
        width: 400px;

        &_end {
            p {
                font-size: 15px;
                width: 300px;
                padding-top: 10px;
            }
        }
    }

    .all_box_1 {
        width: 210px;

        h1 {
            font-size: 38px;
        }
    }

    .smart_box {
        width: 300px;

        img {
            width: 300px;
        }
    }
}

@media (max-width:1050px) {
    .container {
        width: 850px;
    }

    .take_box {
        width: 350px;
    }

    .take_img {
        width: 380px;

        img {
            width: 380px;
        }
    }

    .take {
        h1 {
            font-size: 36px;
            width: 550px !important;
            padding-bottom: 40px;
        }

        &_box {
            &_one {
                p {
                    font-size: 18px !important;
                }
            }

            &_head_one {
                h3 {
                    font-size: 21px !important;
                    margin: 0;
                }
            }
        }
    }

    .home_img {
        width: 380px;
    }

    .head_main {
        a {
            font-size: 17px;
        }
    }

    .btn {
        padding: 10px 20px;
        font-size: 16px;
    }

    .home_text {
        width: 320px;

        h1 {
            font-size: 41px;
            line-height: 48px;
        }

        p {
            width: auto;
        }
    }

    .home_img {
        width: 330px;
    }

    .bought_box {
        width: 200px;
    }

    .take_img {
        img {
            width: 92%;
        }
    }

    .take {
        h1 {
            font-size: 32px;
            line-height: 38px;
            margin: 0;
        }
    }

    .all_box_2 {
        display: none;
    }

    .smart_box {
        width: 265px;

        img {
            width: 265px;
        }
    }

    .set_text {
        width: 370px;

        h1 {
            font-size: 32px;
        }

        p {
            font-size: 15.5px;
            line-height: 22px;
        }

        .p {
            font-size: 15px;
        }

        li {
            font-size: 15px;

            img {
                width: 18px;
            }
        }
    }

    .set_img {
        img {
            width: 350px;
        }
    }

    .task_box {
        width: 180px;

        h2 {
            font-size: 22px;
        }

        p {
            font-size: 15px;
        }
    }
}

@media (max-width:950px) {
    .container {
        width: 750px;
    }

    .set_text {
        width: 340px;

        h1 {
            font-size: 30px;
        }

        p {
            font-size: 15px;
            line-height: 22px;
        }

        .p {
            font-size: 14.5px;
        }

        li {
            font-size: 14.5px;

            img {
                width: 18px;
            }
        }
    }

    .set_img {
        img {
            width: 300px;
        }
    }

    .bought_boxs {
        flex-direction: column;
    }

    .bought_box {
        width: 270px;
        margin: 0px auto 50px;

        h2 {
            font-size: 25px;

        }
    }

    .head_btn {
        p {
            display: none;
        }
    }

    .take_img {
        width: 350px;
    }

    .task_boxs {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .task_box {
        width: 245px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        transition: all 0.2s linear;
        border-radius: 16px;
        padding: 30px 25px;
        margin-bottom: 50px;

        h2 {
            font-size: 28px;
            margin: 8px 0;
        }

        p {
            font-size: 16px;
            margin-bottom: 0;
        }
    }

    ;

    .task_box:hover {
        transform: scale(1.02);
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    }

    .smart_boxs {
        flex-direction: column;
    }

    .smart_box {
        width: 350px;
        margin: 0 auto 60px;

        h1 {
            font-size: 28px;
        }

        p {
            font-size: 16px;
            line-height: 26px;
        }

        img {
            width: 350px;
        }
    }

    .set_text {
        h1 {
            width: auto;
        }
    }

    .whirl {
        .container {
            width: auto;
        }
    }

    .one_box {
        img {
            width: 120px !important;
        }

        p {
            font-size: 14px !important;

            span {
                font-size: 13px !important;
            }
        }
    }

    .footer_box {
        ul {
            padding-left: 0;
        }
    }
}

@media (max-width:800px) {
    .container {
        width: 500px;
    }

    .head_list {
        display: none;
    }

    .head_btn {
        p {
            display: inline;
        }
    }

    .home_main {
        flex-wrap: wrap;
        justify-content: center;
    }

    .home {
        padding-top: 20px;
    }

    .home_text {
        margin-bottom: 50px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        padding: 25px;
        border-radius: 16px;

        h1 {
            margin-top: 0;
        }
    }

    .home_img {
        text-align: start;

        img {
            width: 100%;
        }
    }

    .take_img {
        display: none;
    }

    .take_boxs {
        margin: 0 auto;
    }

    .take {
        h1 {
            width: 450px !important;
            margin: 0 auto;
        }
    }

    .task_head {
        margin: 0 auto;
        margin-bottom: 50px;
        width: auto;
        text-align: center;

        p {
            width: 450px !important;
            margin: 0 auto;
        }
    }

    .smart_head {
        h1 {
            font-size: 30px;
        }

        a {
            font-size: 15px !important;
        }
    }

    .whirl {
        .container {
            width: 500px;
        }

        &_main {
            h1 {
                font-size: 36px;
            }

            p {
                font-size: 16px;
                line-height: 24px;
                width: auto;
            }

            .btn {
                margin-bottom: 10px;
            }
        }
    }

    .footer_main {
        flex-wrap: wrap;

        .footer_box {
            margin-bottom: 50px;
            box-shadow: 0 0 5px rgba(0, 0, 6, 0.1);
            padding: 0 20px;
            border-radius: 16px;

            li {
                font-size: 15px;
            }

            .li {
                font-size: 17px;
            }
        }

        .one_box {
            padding-top: 20px;
        }

        .four_box {
            padding: 25px;
            margin: 0 auto;
        }
    }

    .all_main {
        flex-direction: column;
    }

    .all_box {
        margin: 0 auto 50px;
        border-radius: 16px;
        padding: 22px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    }

    .set_main {
        flex-wrap: wrap;
        justify-content: center;
    }

    .set_img {
        margin-bottom: 50px;
    }

    .set_text {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
        padding: 20px;
        border-radius: 16px;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

@media (max-width:600px) {
    .whirl {
        .container {
            width: auto;
        }

        &_main {
            h1 {
                font-size: 28px;
            }

            p {
                font-size: 15px;
            }
        }

        &_end {
            flex-wrap: wrap;
            width: auto;
        }
    }
}

@media (max-width:550px) {
    .container {
        width: 400px;
    }

    .whirl_main {
        h1 {
            font-size: 22px;
        }
    }

    .task_head {
        p {
            width: 400px !important;
        }
    }

    .smart_head {
        text-align: center;
        display: block;

        p {
            display: none;
        }

        h1 {
            font-size: 34px;
            text-align: center;
        }
    }

    .smart_box {
        width: 300px !important;

        img {
            width: 300px !important;
        }
    }

    .footer_main {
        flex-direction: column;

        .footer_box {
            width: 200px;
            margin: 0 auto 40px;
        }

        .four_box {
            width: 220px;
        }
    }

    .footer_end {
        img {
            display: none;
        }
    }

    .take h1 {
        width: 400px !important;
        font-size: 28px;
    }
}

@media (max-width:450px) {
    .container {
        width: 350px;
    }

    .head_btn {
        p {
            display: none;
        }
    }

    .take {
        h1 {
            width: 320px !important;
            font-size: 24px;
            line-height: 30px;
        }
    }

    .set_text {
        h1 {
            font-size: 26px;
        }

        li {
            font-size: 14px;

            img {
                width: 16px;
            }
        }
    }

    .task_head {
        p {
            width: 320px !important;
            font-size: 15px;
            line-height: 23px;
        }

        h1 {
            font-size: 32px;
        }
    }

    .smart_head {
        h1 {
            font-size: 30px;
        }
    }

    .whirl_main {
        padding: 30px;
    }

    .footer_end {
        p {
            font-size: 15px;

            span {
                display: none;
            }
        }
    }
}