body {
  background: linear-gradient(30deg, #221D3C, #151929, rgb(29, 23, 54)) !important;
}

header {
  background-color: #111829;
  padding-bottom: 20px;
}

* {
  font-family: sans-serif;
  margin: 0;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

.head {
  padding-top: 30px;
}
.head_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head_list ul {
  display: flex;
  list-style-type: none;
}
.head_list li {
  padding-right: 30px;
}
.head_list a {
  text-decoration: none;
  color: white;
  font-size: 17.8px;
  font-weight: bold;
}

.btn {
  padding: 12px 25px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  font-weight: 550;
  color: white;
  background: linear-gradient(#2863EC, #4E5CEC, #7C55ED);
}

.span {
  color: white;
  padding-left: 8px;
  font-size: 19px;
}

.a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding-left: 30px;
}

.foot {
  padding-top: 80px;
}
.foot_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foot_text {
  width: 49%;
}
.foot_text h1 {
  font-size: 49px;
  color: #AA4EEE;
  padding-bottom: 20px;
}
.foot_text p {
  font-size: 16px;
  color: white;
  padding-bottom: 20px;
}
.foot_end {
  display: flex;
  align-items: center;
}
.foot_img {
  width: 51%;
  text-align: center;
}

.service_head {
  text-align: center;
  color: white;
  padding: 40px 25%;
}
.service_head h1 {
  padding-bottom: 20px;
}
.service_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service .i {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  left: 40%;
}
.service_box {
  width: 300px;
  color: white;
  padding: 50px 30px 25px;
  border: 1px solid #2B3257;
  border-radius: 30px;
  text-align: justify;
  background-color: rgba(30, 44, 88, 0.2274509804);
  margin-bottom: 50px;
}
.service_box p {
  font-size: 17px;
}
.service_box h1 {
  padding: 18px;
}

.project {
  padding-top: 100px;
}
.project_box {
  margin-bottom: 100px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.project_box h1 {
  font-size: 40px;
  color: white;
  padding-bottom: 20px;
}
.project_box p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}
.project_box button {
  display: none;
}
.project_box .btn {
  display: block;
  margin-top: 40px;
  padding: 15px 30px;
}

.team {
  padding-bottom: 80px;
}
.team_head {
  text-align: center;
  color: white;
}
.team_head h1 {
  font-size: 40px;
}
.team_head p {
  font-size: 18px;
  text-align: center;
  padding-bottom: 40px;
}
.team_main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.team_main .team_box {
  width: 260px;
  background-color: #282447;
  text-align: center;
  color: white;
  border-radius: 20px;
}
.team_main .team_box p {
  padding: 10px 0;
}
.team_main .team_box i {
  font-size: 24px;
  padding-right: 18px;
  padding-bottom: 20px;
}
.team_main .team_box img {
  padding-top: 20px;
}

.Box_main {
  background-color: #282447;
  padding: 35px;
  border-radius: 45px;
  text-align: center;
  margin-bottom: 70px;
}
.Box_main h1 {
  color: white;
  font-size: 40px;
  padding-bottom: 15px;
}
.Box_main p {
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 25px;
}
.Box_main input {
  width: 800px;
  height: 40px;
  background-color: #323451;
  border: none;
  border-radius: 70px;
  color: white;
  font-size: 18px;
  padding: 10px 25px;
  margin-bottom: 15px;
}

img {
  border-radius: 10px;
}

.footer {
  background-color: #111829;
  padding: 55px 0 20px;
}
.footer_main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer_start i {
  font-size: 28px;
  padding-right: 15px;
  margin-bottom: 20px;
}
.footer_start span {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
}
.footer_start img {
  padding-bottom: 28px;
}
.footer_start .i i {
  font-size: 30px;
  padding-right: 28px;
  padding-top: 10px;
}
.footer_box {
  color: white;
}
.footer_box h2 {
  font-size: 28px;
  padding-bottom: 20px;
}
.footer_box p {
  font-size: 22px;
  padding-bottom: 15px;
}

.body_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
.body_footer p {
  font-size: 20px;
  color: white;
}
.body_footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.body_footer a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 18px;
}

@media (min-width: 1131px) and (max-width: 1250px) {
  .team_box {
    width: 20% !important;
    padding: 0 15px;
  }
}
@media (max-width: 1130px) {
  .team_box {
    width: 34% !important;
    margin-bottom: 40px;
    padding: 3% 0;
  }
  .footer_box h2 {
    font-size: 26px;
  }
  .footer_box p {
    font-size: 21px;
  }
  .footer_start {
    margin-bottom: 20px;
  }
  .footer_start .i {
    display: none;
  }
}
@media (max-width: 1092px) {
  .foot_text h1 {
    font-size: 42.5px !important;
  }
  .footer_start {
    box-shadow: 1px 1px 5px rgba(245, 222, 179, 0.4);
    padding: 16px;
    border-radius: 10px;
    margin-bottom: 45px;
  }
  .footer_start img {
    width: 112px;
  }
  .footer_start p i {
    font-size: 23px;
  }
  .Box_main input {
    width: 85%;
  }
  .Box_main p {
    width: 58%;
    padding-left: 21%;
  }
}
@media (max-width: 992px) {
  .project_text {
    width: 98% !important;
    padding: 0 30px 30px;
  }
  .project .text {
    box-shadow: 1px 1px rgba(245, 222, 179, 0.6);
  }
  .project_main {
    box-shadow: 1px 1px 5px rgba(245, 222, 179, 0.6);
    border-radius: 15px;
  }
  .project_img {
    width: 100%;
    margin-bottom: 40px;
    padding: 60px 25% 30px;
  }
  .project_img img {
    width: 90% !important;
  }
}
@media (max-width: 950px) {
  .head_list ul {
    display: none;
  }
  .foot_main {
    display: flex;
    flex-wrap: wrap;
  }
  .foot_main .foot_text {
    width: 100%;
    text-align: center;
  }
  .foot_main .foot_text h1 {
    font-size: 50px;
  }
  .foot_main .foot_text p {
    width: 80%;
    padding-left: 10%;
  }
  .foot_main .foot_end {
    padding-left: 30%;
  }
  .foot_main .foot_img {
    width: 100%;
    padding-top: 40px;
    margin-bottom: 50px;
    border-bottom: 2px solid wheat;
    padding-bottom: 30px;
    padding-top: 60px;
  }
  .foot_main .foot_img img {
    width: 60%;
  }
  .footer_start {
    width: 48% !important;
    padding-left: 22%;
    margin-left: 13%;
    margin-bottom: 50px;
  }
  .footer_box {
    box-shadow: 1px 1px 6px rgba(245, 222, 179, 0.4);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
  }
}
@media (max-width: 880px) {
  .service_box {
    width: 280px;
    padding: 30px 20px;
  }
  .Box_main {
    padding: 25px;
  }
  .Box_main h1 {
    font-size: 35px;
  }
  .Box_main p {
    width: 80%;
    padding-left: 10%;
  }
  .Box_main input {
    height: 30px;
  }
  .team_box {
    width: 44% !important;
  }
}
@media (max-width: 800px) {
  .service_box {
    width: 50%;
    margin-left: 20%;
    padding: 50px 35px 30px;
  }
  .service_box p {
    padding: 20px;
  }
  .service_box h1 {
    padding-bottom: 0;
  }
  .foot_text h1 {
    font-size: 36.7px !important;
  }
  .project_text h1 {
    font-size: 36px !important;
  }
  .Box_main h1 {
    font-size: 33px !important;
  }
  .service_head {
    padding: 40px;
  }
  .body_footer {
    padding-left: 26%;
  }
  .body_footer ul {
    display: none;
  }
}
@media (max-width: 710px) {
  .footer_box {
    width: 33%;
    text-align: center;
    margin-bottom: 50px;
  }
  .footer_main {
    justify-content: space-around;
  }
  .foot_text h1 {
    font-size: 31.5px !important;
  }
  .foot_text p {
    font-size: 16px !important;
  }
  .foot_end {
    padding-left: 22.5% !important;
  }
  .service_box {
    padding: 20px !important;
    width: 60%;
    margin-left: 17%;
  }
  .footer_start {
    margin-left: 0;
    padding-left: 14%;
  }
}
@media (max-width: 525px) {
  .footer_box {
    width: 55%;
  }
  .body_footer {
    padding-left: 10%;
  }
  .footer_start {
    width: 80% !important;
  }
  .team_box {
    width: 75% !important;
    margin-left: 12.5%;
  }
  .service_box {
    width: 90%;
    padding: 20px 10px !important;
    margin-left: 4%;
  }
}/*# sourceMappingURL=style.css.map */